/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.content {
    h1 {
        color: red;
    }
    .btn.btn-primary {
    	font-size: 18px;
    	background-color: red;
    }
}
